%html
  %head
    %title
      マイページ
  %body
    %h1
      {{ user.name | safe }}さんの戦績
    %h5
      ユーザー登録日：{{ user.date | safe }}
    
    %h2
    　今月の戦績：
      {{ wincount | safe }}
      勝
      {{ losecount | safe }}
      敗

    %h2
    　累計戦績ポイント：
      {{ totalpoint | safe }}

    %h2
      対戦記録
    %ul.entries
      -for entry in entries:
        %li
          {{ entry.date | safe }}
          【{{ user.name | safe }}】さんが
          【{{ entry.opponent | safe }}】さんに
          -if entry.win == 2
            【勝利】
          -else
            【敗北】
          しました。
          コメント：{{ entry.comment | safe }}
          -if user.id == current_user.id and entry.date > startmonth:
            %form(action="/edit/{{ entry.id | safe }}" method="POST" style="display: inline")
              %input(type="text" name="command" placeholder="削除と入力して削除")
    
    -if not user.id == current_user.id
      %p
        %a(href="/mypage/{{ current_user.id | safe }}")
          マイページ

    %p
      %a(href="/")
        ホーム
    %p
      %a(href="/logout")
        ログアウト

    